body {

    background: #0087d4; /* fallback for old browsers */
  
    background: -webkit-linear-gradient(right, #0087d4, rgb(0, 65, 161));
  
    background: -moz-linear-gradient(right, #0087d4, rgb(0, 65, 161));
  
    background: -o-linear-gradient(right, #0087d4, rgb(0, 65, 161));
  
    background: linear-gradient(to left, #0087d4, rgb(0, 65, 161));
  
    font-family: "Roboto", sans-serif;
  
    -webkit-font-smoothing: antialiased;
  
    -moz-osx-font-smoothing: grayscale;      
  
  }
  ul {
      list-style-type: none;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  li {
    font-family: Helvetica;
    float: left;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color: #111;
  }