<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  
  
  
  .login-page {
  
    width: 360px;
  
    padding: 8% 0 0;
  
    margin: auto;
  
  }
  
  .form {
  
    position: relative;
  
    z-index: 1;
  
    background: #FFFFFF;
  
    max-width: 360px;
  
    margin: 0 auto 100px;
  
    padding: 45px;
  
    text-align: center;
  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  }
  
  .form input {
  
    font-family: "Roboto", sans-serif;
  
    outline: 0;
  
    background: #f2f2f2;
  
    width: 100%;
  
    border: 0;
  
    margin: 0 0 15px;
  
    padding: 15px;
  
    box-sizing: border-box;
  
    font-size: 14px;
  
  }
  
  .form button {
  
    font-family: "Roboto", sans-serif;
  
    text-transform: uppercase;
  
    outline: 0;
  
    background: #7289da; /* fallback for old browsers */

    width: 100%;
  
    border: 0;
  
    padding: 15px;
  
    color: #FFFFFF;
  
    font-size: 14px;
  
    -webkit-transition: all 1 ease;
  
    transition: all 1 ease;
  
    cursor: pointer;
  
  }
  
  .form button:hover,.form button:active,.form button:focus {
  
    background: #6a7fcc;
  
  }
  
  .form .message {
  
    margin: 15px 0 0;
  
    color: #b3b3b3;
  
    font-size: 12px;
  
  }
  
  .form .message a {
  
    color: rgb(0, 109, 182);
  
    text-decoration: none;
  
  }
  
  .form .register-form {
  
    display: none;
  
  }
  
  .container {
  
    position: relative;
  
    z-index: 1;
  
    max-width: 300px;
  
    margin: 0 auto;
  
  }
  
  .container:before, .container:after {
  
    content: "";
  
    display: block;
  
    clear: both;
  
  }
  
  .container .info {
  
    margin: 50px auto;
  
    text-align: center;
  
  }
  
  .container .info h1 {
  
    margin: 0 0 15px;
  
    padding: 0;
  
    font-size: 36px;
  
    font-weight: 300;
  
    color: #1a1a1a;
  
  }
  
  .container .info span {
  
    color: #4d4d4d;
  
    font-size: 12px;
  
  }
  
  .container .info span a {
  
    color: #000000;
  
    text-decoration: none;
  
  }
  
  .container .info span .fa {
  
    color: #EF3B3A;
  
  }
  </style>
<div class="login-page">

    <div class="form">

    <a href="https://discordapp.com/api/oauth2/authorize?client_id=504293873837932575&redirect_uri=http%3A%2F%2F85.226.8.34%2F%3Ftab%3Dhome%26callback%3D1&response_type=code&scope=identify%20email%20guilds%20guilds.join">
        <button>Sign in with discord</button>
    </a>

    </div>

  </div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>